<!-- products/templates/products/product_add.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Добавить продукт</title>
</head>
<body>
    <div class="container mt-5">
        <h1>Добавить продукт</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>Загрузить Excel файл</h3>
            <div class="form-group">
                <input type="file" name="file" class="form-control" accept=".xlsx">
            </div>
            <button type="submit" class="btn btn-success mb-3">Загрузить</button>
        </form>

        <form method="post">
            {% csrf_token %}
            <h3>Или ввести данные вручную</h3>
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>